<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>neumant.io</title>
  <meta name="description" content="neumant.io kb">
  <meta name="author" content="Travis Neuman">
  <link rel="stylesheet" href="css/main.css">
  <li> <a href="/">home</a>
  <a href="/readme">readme</a>
  <a href="/contact">contact</a>
  <a href="/about">about</a>
  <a href="/blog">blog</a>
  <a href="/knowledgebase">knowledgebase</a>
  <a href="/testing">testing</a> </li>
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
  <script src="js/scripts.js"></script>
</body>
</html>
