<!DOCTYPE html>
	<html>
		<head>
			<link rel="shortcut icon" href="favicon.ico">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			      <meta charset="utf-8">
      			<meta name="description" content="neumant.io html5 template" />
      			<meta name="author" content="neumant.io post import" />
      			<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
      			<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway:400,700" rel="stylesheet" />
      			<link href="img/favicon.png" type="image/x-icon" rel="shortcut icon" />
			<link href="css/screen.css" rel="stylesheet" />
		</head>
		<body>
			<nav>
	    		<ul>
				<li> <a href="/">home</a> </li>
		        	<li> <a href="/about">about</a> </li>
				<li> <a href="/projects">projects</a> </li>
	        		<li> <a href="/knowledgebase">knowledgebase</a> </li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li> <a href="/contact">contact</a> </li>
				<li> <a href="https://github.com/neumant">github source</a> </li>
				<li> <a href="https://www.linkedin.com/in/neumant/" target="_top">linkedin</a> </li>
			</ul>
			</footer>
		</body>
	</html>
